<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required permissions for notification features -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Vibration permission for haptic feedback -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Phone call permission (for dialer intent) -->
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <!-- Optional: Query all packages (for Android 11+) to check app availability -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- Media permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ask">

        <activity
            android:name=".chatModule.uis.activities.ChatRoomActivity"
            android:exported="false" />

        <activity
            android:name=".mainModule.uis.activities.MyQueriesActivity"
            android:exported="false" />

        <activity
            android:name=".notificationModule.uis.NotificationActivity"
            android:exported="false" />

        <activity
            android:name=".addModule.uis.ChooseCommunityActivity"
            android:exported="false" />

        <activity
            android:name=".communityModule.uis.Activities.JoinCommunity"
            android:exported="false" />

        <activity
            android:name=".communityModule.uis.CommunityActivity"
            android:exported="false" />

        <activity
            android:name=".communityModule.uis.Activities.CreateCommunityActivity"
            android:exported="false" />

        <activity
            android:name=".addModule.uis.AddQueryActivity"
            android:exported="false" />

        <activity
            android:name=".mainModule.uis.activities.MainScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".onBoardingModule.uis.SignInActivity"
            android:exported="false" />

        <activity
            android:name=".onBoardingModule.uis.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".onBoardingModule.uis.FirstScreen"
            android:exported="false" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".mainModule.uis.activities.MainScreen" />
    </application>

</manifest>
